/* general styles */
body {
    background: rgb(243 242 240);
}

.material-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table td,
.table th {
    padding: 0.25rem 0.5rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
.table th {
    padding: 0.75rem;
}
.table td:last-child,
.table th:last-child {
    text-align: center;
    background: #e7e7e7;
    border: 1px solid white;
}
